name: Laravel CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, pgsql, pdo_pgsql, fileinfo
        coverage: none

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Install Composer Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Install NPM Dependencies
      run: npm ci

    - name: Compile Assets
      run: npm run build

    - name: Generate Key
      run: php artisan key:generate

    - name: Fix Storage Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Execute Code Style Check (Pint)
      run: ./vendor/bin/pint --test

    - name: Execute Static Analysis (Larastan)
      run: ./vendor/bin/phpstan analyse

    - name: Execute Tests
      run: php artisan test